<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Commentcount:</b>
  <%= @post.commentCount %>
</p>

<p>
  <b>Votecount:</b>
  <%= @post.voteCount %>
</p>

<p>
  <b>Createdby:</b>
  <%= @post.createdBy %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
