<%= form_for(@user_account) do |f| %>
  <% if @user_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_account.errors.count, "error") %> prohibited this user_account from being saved:</h2>

      <ul>
      <% @user_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :userName %><br />
    <%= f.text_field :userName %>
  </div>
  <div class="field">
    <%= f.label :encrypted_password %><br />
    <%= f.text_field :encrypted_password %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :dateOfBirth %><br />
    <%= f.date_select :dateOfBirth %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phNum %><br />
    <%= f.text_field :phNum %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :professionalStatus %><br />
    <%= f.text_area :professionalStatus %>
  </div>
  <div class="field">
    <%= f.label :interests %><br />
    <%= f.text_area :interests %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
